.App {
  text-align: center;
  overflow-x: hidden;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.correct-text {
  color: #90ee90
}

.incorrect-text {
  color: #ff5148
}

.button {
  border-radius: 4px;
  background-color: #2a2f37;
  padding: 0px 10px 0px 10px
}

.button:hover {
  background-color: #323942;
}

.break {
  height: 4vh
}

.textInputBase {
  white-space: pre;
  height: calc(30px + 2vmin);
  position: relative;
  margin-top: 2vh
}

.currentChar {
  background-color: #434c58
}

.textInputBox {
  background-color: #2a2f37;
  color: white;
  height: calc(30px + 2vmin);
  font-size: 0.75em;
  border-radius: 4px;
  border: none;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.textInputBox:focus {
  background-color: #323942;
}

.reset {
  position: absolute;
  top: 70%
}

.reset:hover {
  cursor: pointer;
}
